name: Specs

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  verify-chrome:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Start Chromedriver
      run: chromedriver --port=4444 --url-base=/wd/hub &
    - name: Setup Crystal
      run: curl -sSL https://dist.crystal-lang.org/apt/setup.sh | sudo bash
    - name: Install Crystal
      run: sudo apt install crystal
    - name: Install dependencies
      run: shards install
    - name: Run tests
      run: crystal spec --tag "~chrome"
      env:
        SELENIUM_BROWSER: chrome
  verify-firefox:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Start Geckodriver
      run: geckodriver --port=4444 &
    - name: Setup Crystal
      run: curl -sSL https://dist.crystal-lang.org/apt/setup.sh | sudo bash
    - name: Install Crystal
      run: sudo apt install crystal
    - name: Install dependencies
      run: shards install
    - name: Run tests
      run: crystal spec --tag "~firefox"
      env:
        SELENIUM_BROWSER: firefox
